body {
  background-color: #F7ECDE;
}

img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}

hr {
  border-style: dotted;
  border-top-style: none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #876445;
}

h1:hover{
  font-style: italic;
}

h3 {
  color: #876445;
}
